<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="with=device-width,initial-scale=1,shrink-to-fit=no">

  <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css " integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    <title>Employee Directory</title>

</head>
<body>
<div class="container">
    <h3>Product Directory</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempProduct : ${products}">

            <td th:text="${tempProduct.name}"></td>
            <td th:text="${tempProduct.description}"></td>
            <td th:text="${tempProduct.price}"></td>
            <td th:text="${tempProduct.quantity}"></td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>