<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js">
</head>
<body>
<div id="loginbox" class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Code sign in <br> JDBC Authentication</div>
        </div>

        <div class="panel-body">
            <form th:action="@{/authenticateTheUser}" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-15">
                        <div>

                            <!--                                check login err-->
                            <div th:if="${param.error}">

                                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    Invalid username and password.
                                </div>

                            </div>

                            <!--                                check for logout-->

                            <div th:if="${param.logout}">
                                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                    You have logged out.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>